@model IEnumerable<Milestone.Models.MinesweeperTileModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMine)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMine)
            </td>
            <td>
                @Html.ActionLink("Flag", "Flag", new { i=item.Id }) |
                @Html.ActionLink("Click", "Click", new { i=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
