@model Milestone.Models.CellModel

@{
    //Add image names for game pieces here!
    string[] gamePieces = { "", "", "" };
}

<button class="game-button" type="submit" value="@Model.ID" name="tileNumber">

    @if (!@Model.Visited)
    {
        if (Model.Flagged)
        {
            <img class="game-button-image" src="~/img/flag.png" />
        }
        else
        {
            <img class="game-button-image" src="~/img/field.png" />
        }
    }
    else
    {

        if (@Model.State > 0)
        {
            <!--script>alert("Game Over!!!");</!--script-->
            <img class="game-button-image" src="~/img/mine.png" />
        }
        else
        {
            <img class="game-button-image" src="~/img/hole.png" />
            <div class="centered">@Model.Neighbors</div>
        }

    }

    <!--<div class="button-label">
        @Model.State,
        @Model.Neighbors,
        @Model.Visited
    </div>-->
</button>